<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details' OK</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna') OK</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step OK</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number) OK</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass) OK</li>
      </ol>
    </div>
    <button type="button" name="button" (click)='togglePw()'>Display Details</button>
    <p *ngIf='visible'>Secret password: Tuna</p>
    <p *ngFor='let click of clicks; let i=index' [ngStyle]='{backgroundColor: fifthAndUp(i)}' [ngClass]='{white: i>=4}'>{{click}}</p>
  </div>
</div>
